//colors
$paleGold: #C0B283;
$silk: #DCD0C0;
$paper: #F4F4F4;
$charcoal: #373737;
$darkGrey: #282828;
$black: #181818;
$white: white;

//color-scheme
$backgroundColor: $white;
$optionsBackgroundColor: $charcoal;
$optionsFontColor: $paleGold;
$plotsContainerBackgroundColor: $paper;
$plotsContainerFontColor: $black;


//margins
$sectionMargin: 10px;
$categoryMargin: 5px;

$welcomeBackgroundImage: "https://media.giphy.com/media/eLhY2D428VdfO/giphy.gif";

