*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #

*.war
*.ear
.settings
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/target/

# Intellij
/.idea/

# Mac
.DS_Store

# Eclipse
.project
.classpath

/bin/

/.metadata/
src/main/resources/uploaded_data/*.csv
src/main/resources/uploaded_data/*.txt
*.log
