html, body {
  height:100%;
  margin:0;
}

.line {
  fill: none;
  stroke: teal;
  stroke-width: 1px;
  clip-path: url(#clip);
}

hr {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

#representative-table, #outlier-table{
  width : 45%;
  float: left;
}

.user-query-results, .representative-results, .outlier-results{
 width: 220px;
 height: 85px;
 margin-bottom: 5px;
}

.undraggable-user-query-results, .undraggable-representative-results, .undraggable-outlier-results{
 width: 235px;
 height: 105px;
 text-align: center;
 font-size: 12px;
 margin-right: 5px;
}

.undraggable-representative-results, .undraggable-outlier-results{
 width: 235px;
 height: 105px;
 text-align: center;
 font-size: 12px;
}

.radio input[type=radio]{
  margin-left: 0px; !important
}

#results-table{
width: 90%;
}

#table-div {
  height: 242px !important;
  overflow-x: auto;
}
@media screen and (max-width: 1264px){
    #table-div{
        display:none;
    }
}
#graph-div {
  height: 242px !important;
  border: 0.5px solid #D9D9D9;
  width: 98%;
  border-radius: 5px;
  margin-top: 5px;
  margin-left: 10px;
}

#sidebar input{
  display: none;
}

#left-button-group input{
  display: none;
}

#left-button-group input:checked + span{
  font-weight: bold;
}

#sidebar label{
  width: 145px;
  border: 0.5px solid #D9D9D9;
  border-radius: 5px;
  padding-left: 5px;
  margin-bottom: 2px;
  background: #F0F0F0;
  list-style-type:none;
  cursor: pointer;
  font-weight: 400;
}

#sidebar input:checked + span{
  font-weight: bold;
}


svg#treesvg {
  overflow-x: auto;
}

#middle-left{
  height: 60vh; !important;
  min-width: 495px;
  overflow-x: auto;
  -webkit-flex: 1;
  flex:1;
  position:relative;
}

#middle-right{
  height: 100% !important;
  -webkit-flex: 1;
  min-width: 495px;
  overflow-x: auto;
  flex:1;
  position:relative;
}

#graph-buttons {
  margin-left: 23px;
  margin-top: 10px;
}

#graph-type{
  width: 80px;
}

#everything {
  /*height:100%;
  width:100%;
  overflow-x: hidden;*/
  display:flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  -webkit-align-content: stretch;
  align-content: stretch;
}

#left-bar {
  width: 200px;
  background-color: #fff;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  padding: 0 0 0 20px;
  border-right: 1px solid #D9D9D9;
}

#settings {
  padding-top: 3px;
}

#middle-left {
  border-right: 1px solid #D9D9D9;
}

.info > td > div > .icon {
  display: block;
  margin-top: 3px;
}

.info > td > div > .number {
  display: none;
}

.icon {
  display: none;
}

.hide {
  display: none;
}

#middle-bar{
  -webkit-flex: 1;
  flex:1;
  position:relative;
}

.glyphicon.glyphicon-cog {
    font-size: 17px;
}

#middle-under-nav {
  height:100%;
  margin: 0px;
  display:flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  -webkit-align-content: stretch;
  align-content: stretch;
}

.nav > li > .btn-group {
  padding-top: 7px;
}

.nav > li > #zql-table {
  padding-top: 7px;
  padding-left: 5px;
}

#graph-type {
  padding-top: 7px;
  padding-left: 5px;
}

.modal-body{
  margin-left: 20px;
}

.radio input[type=radio]{
  margin-left: 0px;
}

.checkbox input[type=checkbox]{
  margin-left: 0px; !important
}

.dropdown {
 width: 150px
}

.form-control {
  padding: 1px 3px !important;
  height: 22px !important;
  line-height: 1.5 !important;
  font-size: 11px !important;
}
.glyphicon.glyphicon-flash {
    font-size: 10px;
}

.result-x {
  width: 38px;
}

#left-button-group {
  margin-right: 10px;
}

.modal-dialog {
  width: 600px; /* respsonsive width */
}

#submitButton {
  display: block;
  margin: auto;
}

#datasetNameInput {
  width: 295px;
}

#dataset {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  border:4px solid #FAFAFA;
  background-color:#FAFAFA;
  border-radius: 3px;
  margin-bottom: 15px;
  margin-left: 7px;
  margin-top: 12px;
}

#error {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  border:4px solid #FAFAFA;
  background-color:#FAFAFA;
  border-radius: 3px;
  margin-bottom: 15px;
  margin-left: 7px;
}


.filestyle {
  display: block;
  margin: auto;
}

.modal-body {
  padding-left: 0px;
}

.textButton {
    background:none;
    border:none;
    margin:0;
    margin-left: 10px;
    padding:0;
    color:#999999;
}

.new-style {
  font-size: 20;
}

/*Tooltip for question mark info*/
.qtooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.qtooltip .qtooltiptext {
    visibility: hidden;
    width: 500px;
    background-color: black;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding: 5px 5px 5px 5px;
    /* Position the tooltip */
    position: absolute;
    z-index: 10;
    top: 100%;
    left: 50%;
    margin-left: -80px;
}

.qtooltip .qtooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0%;
    margin-left: -10px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}
.qtooltip:hover .qtooltiptext {
    visibility: visible;
}
.qtooltipright {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}
.qtooltipright .qtooltiptextright{
    visibility: hidden;
    width: 400px;
    background-color: black;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding: 5px 5px 5px 5px;
    /* Position the tooltip */
    position: absolute;
    z-index: 10;
    top: 100%;
    right: 50%;
    margin-left: -80px;
}
.qtooltipright .qtooltiptextright::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0%;
    margin-left: -10px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}
.qtooltipright:hover .qtooltiptextright {
    visibility: visible;
}
.btn-circle {
    width: 25px;
    height: 24px;
    text-align: center;
    padding: 3px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}
.side-info-text {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  border:4px solid #FAFAFA;
  background-color:#F7F7F7;
  border-radius: 3px;
  margin-bottom: 15px;
  margin-left: 7px;
  width: 150px;
}
.info-text {
  margin-bottom: 15px;
}

#mobilePopup{ display: none; }

/* use a media query to filter small devices */
@media only screen and (max-device-width:480px) {
    /* show the popup */
    #mobilePopup { display: block; }
}
