body{
  background-color: $backgroundColor;
}

html, h1, h2, h3, h4, h5, div, span, .row{
  margin: 0;
  padding: 0;
}

.centeringContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}