<!DOCTYPE html>
<html lang="en" ng-app="zenvisage">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visual Data Exploration</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href="css/old/custom.css" rel="stylesheet">
    <link href="css/old/draw.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
  </head>
  <body>
    <!-- this div contains everything in the body -->

    <div id="everything">
      <!-- Modal -->
      <form id="uploaderForm" action="/zv/fileUpload" enctype="multipart/form-data" method="post">
        <div class="modal fade bd-example-modal-sm" id="uploaderModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Upload your own dataset</h4>
              </div>
              <div class="modal-body">
                Dataset name<input id="datasetNameInput" type="text" name="datasetName"><br/><br/>
                <div class="row">
                  <div class="col-md-5">
                    <input type="file" class="filestyle" data-classButton="btn btn-primary" data-input="false" data-classIcon="icon-plus" data-buttonText="Choose dataset file" name="csv">
                  </div>
                  <div class="col-md-5 col-md-offset-1">
                    <input type="file" class="filestyle" data-classButton="btn btn-primary" data-input="false" data-classIcon="icon-plus" data-buttonText="Choose schema file" name="schema">
                  </div>
                </div>
              </div>
                <div class="modal-footer">
                <input id="submitButton" type="submit" class="btn btn-primary" value="Upload">
                </div>
            </div>
          </div>
        </div>
      </form>

      <!-- this div contains the left-bar with the data information -->
      <div id="left-bar">
        <div id="sidebar" class="interface" ng-controller="datasetController">
          <h4>
            ZenVisage
          </h4>
          <div class="dropdown" id="dataset">
            <h5><b>Dataset</b><button type="button" class="textButton" data-toggle="modal"  data-target=".bd-example-modal-sm"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> </button></h5>
            <!-- Button trigger modal -->

            <select class="form-control" ng-change="onDatasetChange()" ng-model="selectedDataset" id="dataset-form-control">
              <option value="real_estate">Real Estate</option>
              <option value="cmu">cmu</option>
              <option value="sales">sales</option>
            </select>
          </div>
          <div>
            <h5><b>Category</b></h5>
            <div ng-repeat="category in categories">
              <label>
                <input type="radio" ng-change="onDataAttributeChange()" value={{category}} ng-model="$parent.selectedCategory"/><span>{{category}}</span>
              </label>
            </div>
          </div>
          <div>
            <h5><b>X-axis</b></h5>
            <div ng-repeat="xAxisItem in xAxisItems">
              <label>
                  <input type="radio" ng-change="onDataAttributeChange()" value={{xAxisItem}} ng-model="$parent.selectedXAxis"/><span>{{xAxisItem}}</span>
              </label>
            </div>
          </div>
          <div>
            <h5><b>Y-axis</b></h5>
            <div ng-repeat="yAxisItem in yAxisItems">
              <label>
                  <input type="radio" ng-change="onDataAttributeChange()" value={{yAxisItem}} ng-model="$parent.selectedYAxis"/><span>{{yAxisItem}}</span>
              </label>
            </div>
          </div>
        </div> <!-- end side bar -->
      </div> <!-- end left bar -->

      <!-- this div contains the everything in the middle (aside from the left nav bar) -->
      <div id="middle-bar">

        <!-- this div contains the drawng interface and the zql table -->
        <div class="row" id="top-middle-bar" ng-controller="options-controller">

          <!-- drawing interface -->
          <div class="col-md-4">
            <div class="input-group" id="graph-buttons" >
              <div class="btn-group" id="left-button-group">
                <select ng-model="selectedChartOption" ng-options="option for option in chartOptions" class="form-control" ng-change="changeChartType()" id="graph-type">
<!--                   <option>Line</option>
                  <option>Scatter</option>
                  <option>Bar</option> -->
                </select>
              </div>

              <div class="btn-group" >
                <button type="button" name="options" ng-click="zqltable = !zqltable" data-toggle="button" aria-pressed="false" class="btn btn-default btn-xs">ZQL Table</button>
              </div>

<!--               <div class="btn-group" >
                <button type="button" name="options" ng-show="zqltable" ng-click="submitZQLTable()" data-toggle="button" aria-pressed="false" class="btn btn-default btn-xs">Submit</button>
              </div>
 -->
            </div>

            <div id="draw-div" ng-show="!showScatterplot"></div>
            <div id="scatter-div" ng-controller="scatterController" class="row" ng-show="showScatterplot">
              <div class="col-md-11">
                  <svg id="main-chart">
                  </svg>
              </div>
              <div class="row col-md-1">
                  <div class="col-md-12">
                      <div class="buttons-for-drawing btn" ng-click="scatterService.drawPolygon()"><a ><i class="fa fa-plus" aria-hidden="true"></i></a></div>
                  </div>
                  <div class="col-md-12">
                      <div class="buttons-for-drawing btn undo disabled" ng-click="scatterService.undoPolyPoints()"><a><i class="fa fa-undo" aria-hidden="true"></i></a></div>
                  </div>
                  <div class="col-md-12">
                      <div class="buttons-for-drawing btn green-polygon disabled" ng-click="scatterService.changePolygonColorGreen()"><a style="color: forestgreen"><i class="fa fa-square" aria-hidden="true"></i></a></div>
                  </div>
                  <div class="col-md-12">
                      <div class="buttons-for-drawing btn red-polygon disabled" ng-click="scatterService.changePolygonColorRed()"><a style="color: indianred"><i class="fa fa-square" aria-hidden="true"></i></a></div>
                  </div>
                  <div class="col-md-12">
                      <div class="buttons-for-drawing btn  submit disabled" ng-click="submit()"><a><i class="fa fa-arrow-right" aria-hidden="true"></i></a></div>
                  </div>
              </div>
          </div>



          </div>
          <!-- drawing interface END-->

          <div class="col-md-8" id="table-div">
            <div ng-show="zqltable" ng-controller="zqlTableController">
              <table id="zql-table" class="table zql-table">
                <thead>
                  <tr>
                    <td><b>Name</b></td>
                    <td><b>X</b></td>
                    <td><b>Y</b></td>
                    <td><b>Z</b></td>
                    <td><b>Constraints</b></td>
                    <td><b>Viz</b></td>
                    <td><b>Process</b></td>
                    <td></td>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="query in queries['zqlRows']">
                    <td>{{query.name}}</td>
                    <td>{{query.x}}</td>
                    <td>{{query.y}}</td>
                    <td>{{query.z}}</td>
                    <td>{{query.constraints}}</td>
                    <td>{{query.viz}}</td>
                    <td>{{query.processe}}</td>
                  </tr>
                  <tr id="table-row-1" class="tabler">
                    <td>
                      <input class="form-control zql-table number" ng-model="input.name" type="text" size="5" value=" ">
                    </td>
                    <td>
                      <input class="form-control zql-table x-val" ng-model="input.x" type="text" size="10" value=" ">
                    </td>
                    <td>
                      <input class="form-control zql-table y-val" ng-model="input.y" type="text" size="10" value=" ">
                    </td>
                    <td>
                      <input class="form-control zql-table z-val" ng-model="input.z" type="text" size="10" value=" ">
                    </td>
                    <td>
                      <input class="form-control zql-table constraints" ng-model="input.constraints" type="text" size="20" value=" ">
                    </td>
                    <td>
                      <input class="form-control zql-table viz" ng-model="input.viz" type="text" size="1" value=" ">
                    </td>
                    <td>
                      <input class="form-control zql-table process" ng-model="input.processe"type="text" size="25" value=" ">
                    </td>
                    <td></td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                      <a ng-click="addRow()" id="add-row"><span class="glyphicon glyphicon glyphicon-plus-sign"></span></a>
                    </td>
                    <td>
                      <a ng-click="submitZQL()">Submit</a>
                    </td>
                    <td></td>
                    <td></td>
                  </tr>
                </tfoot>
              </table>
            </div>
            <div ng-show="!zqltable" class="row">
              <div class="col-md-3">
                <b>Similarity</b>
                <div class="radio">
                  <form>
                    <input ng-model="similarity" id="Euclidean" class="active" type="radio" name="distance-method" value="Euclidean" checked ><label for="Euclidean">Euclidean Distance</label><br>
                    <input ng-model="similarity" id="Segmentation" type="radio" name="distance-method" value="Segmentation"><label for="Segmentation">Segmentation</label><br>
                    <input ng-model="similarity" id="DTW" type="radio" name="distance-method" value="DTW" ><label for="DTW">DTW</label><br>
                    <input ng-model="similarity" id="MVIP" type="radio" name="distance-method" value="MVIP" ><label for="MVIP">MVIP</label>
                  </form>
                </div>
                <b>Representative/Outlier</b>
                <div class="radio">
                  <form>
                    <input ng-model="representative" id="kmeans" class="active" type="radio" name="search-method" value="kmeans" checked ><label for="kmeans">K-means</label> <span data-toggle="modal" class="glyphicon glyphicon-question-sign"></span><br>
                  </form>
                </div>

                <div>
                  <div class="info-text"><b>Input equation</b></div>
                  <div class="input-group">
                    <input ng-model="equation" type="text" class="form-control">
                    <div class="input-group-btn">
                      <button class="btn btn-default btn-xs" ng-click="drawFunction()" type="button">add</button>
                    </div>
                  </div>
                </div>
                <!--
                <div class="info-text"><b>Number of Segments</b></div>
                  <div>
                    <input class="num-segments" type="text" name="number-of-segments" value="30">
                  </div>
                -->
              </div>
              <div class="col-md-3">
                <div class="info-text"><b>Aggregation Method</b></div>
                <div class="radio">
                  <form>
                    <input ng-model="aggregation" id="sum" type="radio" name="aggregation-method" value="sum"><label for="sum">Sum</label><br>
                    <input ng-model="aggregation" id="avg" type="radio" name="aggregation-method" value="avg" checked><label for="avg">Average</label>
                  </form>
                </div>

                <div id="num-results">
                  <div class="info-text"><b>Number of Results</b></div>
                  <div>
                    <input ng-model="numResults" class="form-control" type="text" id="num-results" name="number-of-results" value="50">
                  </div>
                </div>

                <br>
                <div class="info-text"><b>Options</b></div>
                <div class="checkbox">
                  <form>
                    <input ng-model="considerRange" id="considerRange" type="checkbox" name="consider-range"><label for="considerRange">Consider x-range</label><br>
                  </form>
<!--                   <form>
                    <input ng-model="showScatterplot" id="showScatterplot" type="checkbox" name="show-scatterplot"><label for="showScatterplot">Show scatterplot</label><br>
                  </form> -->
                </div>

                <!--
                <div id="math-equation">
                  <div class="info-text"><b>Custom Equation</b></div>
                  <div>
                    y = </label><input class="num-results" type="text" name="number-of-results" value="50">
                  </div>
                </div>
                -->
              </div>
            </div>
          </div>

        </div>
        <!-- drawng interface + zql table END-->

        <hr>
        <div id="bottom-middle-bar">
          <div class="col-md-12" id="tree-div">
          </div>
          <div id="middle-left" class="col-md-6">
            <h5><b>Results</b></h5>
            <div>
              <table id="results-table"></table>
            </div>
          </div>
          <div id="middle-right" class="col-md-6">
            <div>
              <table id="representative-table">
                <tr class="middle-right-headers">
                  <td><h5><b>Representative patterns </b><span data-toggle="modal" class="glyphicon glyphicon-question-sign"></span></h5>
                  </td>
                </tr>
              </table>
            </div>
            <div>
              <table id="outlier-table">
                <tr class="middle-right-headers">
                  <td><h5><b>Outliers </b><span data-toggle="modal" class="glyphicon glyphicon-question-sign"></span></h5></td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--
    <script>
      var tree = tree();
    </script>
    -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="js/old/bootstrap-filestyle.min.js"> </script>
    <script src="js/old/math.min.js"> </script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/dygraph/1.1.1/dygraph-combined.js"></script>
    <script src="http://d3js.org/d3.v4.min.js"></script>
    <script src="https://d3js.org/d3-hexbin.v0.2.min.js"></script>
    <script src="js/old/app.js"></script>
    <script src="js/old/scatter.js"></script>
    <!-- <script src="chi-js/graph.js"></script> -->
    <script src="js/old/draw.js"></script>
    <script src="js/old/query.js"></script>
    <script src="js/old/helper.js"></script>
    <script src="js/old/data.js"></script>
    <script src="js/old/fileUploader.js"></script>
    <script src="js/old/renderplot.js"></script>
    <script src="parsertypes.js"></script>
    <script src="zqlparser.js"></script>
  </body>
</html>
