#zenvisage{
  position:abosolute;
  margin-top:5%;
  text-align: center;
  color:green;
  font-size: 45px;
}

#predicate-col{
 display: none;
}

.cog {
  padding-left: 60px;
  font-size: 15px;
}

.cog:hover {
  cursor: pointer;
}

#submit-info-text{
  float: left;
  width: 25%;
}
#submit-form-1{
  float: left;
  width: 50%;
}
#submit-button{
  float: right;
  width: 20%;
}

#everything {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  height: 100%;
  max-height: 100%;
}


#trend-bar{
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #fff;
  padding-left: 10px;
  left: auto;
  right: 0px;
  width: 230px; /*Width of right frame div*/
  overflow: hidden;
  background-color: #fff;
}

#left-bar {
  position: absolute;
  z-index: 11;
  top: 0;
  left: 0;
  width: 225px;
  height: 100%;
  background-color: #fff;

  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  padding: 0 0 30px 20px;
  box-shadow: 0 0 20px #ccc;
  -webkit-box-shadow: 0 0 20px #ccc;
  -moz-box-shadow: 0 0 20px #ccc;
}

#middle-bar{
  position: absolute;
  top: 0;
  z-index: 10;
  left: 225px; /*Set left value to WidthOfLeftFrameDiv*/
  right: 230px; /*Set right value to WidthOfRightFrameDiv*/
  bottom: 0px;
  background: #fff;
  min-width: 500px;
  overflow-y: auto;
  overflow-x: hidden;
  height:100%;
}

#main-graph-area {
  padding-left: 15px;
}

ul {
  list-style-type: none;
  padding-left: 15px;
}


ul > li.active {
  font-weight: bold;
  background-color: #E0E0E0;
}

div #toolbox {
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 5px;
  margin-bottom: 10px;
  clear: both;
}

ul.funky-menu > li > a:before {
  content: " ";
}

ul.funky-menu > li > a.active:before {
  content: "✓ ";
}

.examples {
  margin-bottom: 5px;
}

.rect{
	fill: "green";
}

div[id*="x-table-select-"] {
  width: 115px !important;
}
div[id*="y-table-select-"] {
  width: 150px !important;
}
div[id*="z-table-select-"] {
  width: 115px !important;
}
div[id*="constraint-field-select-"] {
  width: 115px !important;
}
div[id*="process-table-select-"] {
  width: 220px !important;
}
div[id*="process-params-select-"] {
  width: 220px !important;
}

.nav_before{
	position:fixed;
	margin:0;
	paddding:0;
	top:0;
	z-index: 15;
	background-color: white;
	right:0%;
	width: 100%;
	height:100%;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	-ms-transition: all 1s ease;
	transition: all 1s ease;
}

.nav_before._after{
	position: absolute;
	right:100%;
	width: 100%;
	height:100%;
	z-index: 15;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	-ms-transition: all 1s ease;
	transition: all 1s ease;
}

.textbox{
	position:absolute;
	margin: auto;
    width: 20%;
    top:20%;
    left:40%;
    border:3px solid #8AC007;
    padding: 10px;
}

#buttons{
  margin-top: 10px;
  margin-left: 50px;
  margin-bottom: 10px;
}

#views_table{
  z-index: 1;
}

.axesInput{
  visibility: hidden;
}

	position: absolute;
	overflow-y: auto;

    bottom: 0px;
}
.scrollbar-x{

	position: absolute;
	overflow-x: auto;

}
.secondDrawColumn{
  background-color: #FAFAFA;
}



.table-responsive-force {
    width: 100%;
    margin-bottom: 10px;
    overflow-y: hidden;
    overflow-x: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -webkit-overflow-scrolling: touch;
}

#main-chart {
    display: block;
    margin: auto;
    margin-top: 50px;
    height: 300px;
    width: 500px;
    background: whitesmoke;
    border: 1px solid black;
}

#main {
    background: rgba(255, 255, 255, .5);
    overflow: auto;
}

.axis text {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.hexagon {
    fill: white;
    stroke: #000;
    stroke-width: .5px;
}

.brush .extent {
    stroke: black;
    fill: green;
    fill-opacity: .125;
    shape-rendering: crispEdges;
}

.chart-title{
    font-size: large;
    font-weight: bold;
}
