<!DOCTYPE html>
<html>
	<head lang="en">
		<meta charset="UTF-8">
		<title>ZQLTable</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="zqltable.css">
		<script src="zql/jquery.min.js"></script>
   <!--      <script src="js/vdb.js"></script>-->
​
    <!-- Vega Files -->
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="assets/js/jquery.js"></script>
    <!--<script src="vega-master/examples/lib/d3.v3.min.js"></script>-->
    <script src="vega-master/vega.js"></script>
    
		<script src="zql/angular.min.js"></script>
		<script src="zql/app.js"></script>
		<script src="zql/parsertypes.js"></script>
		<script src="zql/zqlparser.js"></script>
		<script src="zql/generate-vega.js"></script>
	</head>

	<body ng-app="myApp">
		<div ng-controller="MyController">
			<table class="table table-bordered table-hover">
				<caption>ZQL Query Table</caption>
				<col width="5%">
				<col width="10%">
				<col width="10%">
				<col width="10%">
				<col width="20%">
				<col width="20%">
				<col width="25%">
				<tr>
					<th>Name</th>
					<th>X</th>
					<th>Y</th>
					<th>Z</th>
					<th>Constraints</th>					
					<th>Viz</th>
					<th>Process</th>

				</tr>
				<tr ng-repeat="query in queries['zqlRows']">
					<td>{{query.name}}</td>
					<td>{{query.x}}</td>
					<td>{{query.y}}</td>
					<td>{{query.z}}</td>
					<td>{{query.constraints}}</td>
					<td>{{query.viz}}</td>
					<td>{{query.processe}}</td>
				</tr>
				<tr>
					<td>
						<input class="form-control" ng-model="input.name" type=text/>
					</td>
					<td>
						<input class="form-control" ng-model="input.x" type=text/>
					</td>
					<td>
						<input class="form-control" ng-model="input.y" type=text/>
					</td>
					<td>
						<input class="form-control" ng-model="input.z" type=text/>
					</td>
					<td>
						<input class="form-control" ng-model="input.constraints" type=text/>
					</td>					
					<td>
						<input class="form-control" ng-model="input.viz" type=text/>
					</td>
					<td>
						<input class="form-control" ng-model="input.processe" type=text/>
					</td>					
				</tr>
			</table>
			<button class="btn btn-default" ng-click="addRow()">Add Row</button>
			<button class="btn btn-primary" ng-click="submitZQL()">Submit</button>
		</div>
		 <div class="scrollbar" id="scrollbar">
    	 <div class="force-overflow">
         <table id="views_table" class="table"></table>
        	</div>
      	</div> <!-- end scroll bar-->
		  
  	        <select id="sel">
              <option id ="auto" value="Auto">Recommended</option>
  	          <option id ="lineChart" value="Line Chart">Line Chart</option>
  	          <option id="barChart" value="Bar Chart">Bar Chart</option>
  	          <option id ="scatter" value= "Scatter">Scatter Plot</option>
  	        </select>

  	    <script>
  	    function getDataset() {return "real_estate";};
  	    function getXAxis() {return "Year";};
  	    function getDistanceMethod() {return "euclidean";};
  	    </script>


	</body>
</html>
