table {
	width: 100%;
	table-layout: fixed;

}

caption {
	text-indent: 50px;
	text-align: left;
	color: green;
	padding: 15px;
	font-size: 30px;
	font-weight: bold;
}

th {
    background-color: #83c985;
    padding: 10px;
    text-align: left;
}



input {
	width: 90%;
}

